{% extends "base.html" %}
{% block title%}
<title>Department page</title>
{% endblock %}
{% block content %}
<h1 class="text-center text-info py-3">OUR DEPARTMENTS</h1>
<hr style="width: 20dvw; height: 3px;" class="mx-auto bg-info h-10">

{% for d in dept %}
<div class="mx-auto w-50 bg-light border text-center py-4 my-3 border border-info rounded">
        <h1 class="text-info ">{{d.dep_name}}</h1>
<hr style="width: 15dvw; height: 3px;" class="mx-auto bg-info h-10">
    <p class="px-3 text-dark">{{d.dep_description}}</p>
</div>
{% endfor %}

{% endblock%}
 
</body>
</html>
